#nextsteps {
   color: blue;
}

.emphasized {
   font-size: 1.2em;
}

  /* Objectives, Callout Box and Challenges */
  .objectives, .keypoints {
      background-color: unset;
      border: 5px solid;
  }

  .callout {
      background-color: unset;
      border: 5px solid;
  }

  .challenge {
      background-color: unset;
      border: 5px solid;
  }

  p,ul,ol,li,pre,code {
    font-size: 8pt;
    line-height: 9pt;
  }

  code {
    padding: 0;
    border: 0;
    background: unset;
  }


  pre.output::before {
      content: "Output:";
  }

  pre.error::before {
      content: "Error:";
  }

  pre.output code,
  pre.error code {
      display: block;
      margin-top: 1em;
      margin-left: 2em;
  }

  #github-ribbon {
    display: none;
  }

  .banner {
    display: none;
  }

  .footer {
    display: none;
  }
